* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: sans-serif;
}

div {
  width: 100%;
  padding: 20px;
}

div ul{
  width: 100%;
  max-width: 400px;
}

div li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div li + li {
  margin-top: 15px;
}

button {
  background: #7159c1;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
  border-radius:5px;
}

div li button {
  margin: 0 15px;
  padding: 5px 10px;
  background: #ca4949;
  font-size: 12px;
}

h1 {
  margin-bottom: 25px;
  color: #333;
}
